<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="RavenDB" connectionString="URL=http://localhost:8080;Database=HappyMeter"/>
	</connectionStrings>
	<appSettings>
		<add key="RavenUrl" value=""/>
		<add key="RavenApiKey" value=""/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  
  <rewrite>
	<outboundRules>
		<rule name="Set Access Control Allow Origin Header" preCondition="Origin header">
			<match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern="(.*)" />
			<action type="Rewrite" value="{HTTP_ORIGIN}" />
		</rule>
		<rule name="Set Access Control Allow Headers Header" preCondition="Origin header">
			<match serverVariable="RESPONSE_Access-Control-Allow-Headers" pattern="(.*)" />
			<action type="Rewrite" value="Content-Type" />
		</rule>
		<rule name="Set Access Control Allow Methods Header" preCondition="Origin header">
			<match serverVariable="RESPONSE_Access-Control-Allow-Method" pattern="(.*)" />
			<action type="Rewrite" value="POST,GET,OPTIONS" />
		</rule>
		<rule name="Set Access Control Allow Credentials Header" preCondition="Origin header">
			<match serverVariable="RESPONSE_Access-Control-Allow-Credentials" pattern="(.*)" />
			<action type="Rewrite" value="true" />
		</rule>
		<preConditions>
			<preCondition name="Origin header" logicalGrouping="MatchAny">
				<add input="{HTTP_ORIGIN}" pattern="(http://localhost$)" />
				<add input="{HTTP_ORIGIN}" pattern="(http://.*\.apphb\.com$)" />
			</preCondition>
		</preConditions>
	</outboundRules>
</rewrite>	
  	
</configuration>
